<md-card collapse>
    <md-card-header >
        <md-card-title>
           <h6 class="w3-show-inline-block"> {{_data.name}}</h6>
<pre class="w3-tiny w3-show-inline-block">{{_data.type}}</pre>
        </md-card-title>
        <!--<md-card-subtitle>
            {{_data.type}}
        </md-card-subtitle>-->
    </md-card-header>
    <div class="collapse">
        <img src={{_data.image}} />
        <md-card-content>
            <pre class="w3-tiny w3-show-inline-block"><b>Version:</b> {{_data.version}} </pre>
            <pre class="w3-tiny w3-show-inline-block"><b>Build:</b> {{_data.build}}  </pre>
            <pre class="w3-tiny w3-show-inline-block"><b>ID</b>: {{_data._id}}</pre>
            <pre class="w3-tiny w3-show-inline-block"><b>Created</b>: {{_data.createdAt}}</pre>
            
            <p>
                {{_data | json}}
            </p>
            <p *ngFor="let sub of _data.inputVariables">
                <simple-card [data]="sub"></simple-card>
            </p>
            <p *ngFor="let sub of _data.outputVariables">
                <simple-card [data]="sub"></simple-card>
            </p>
            <p *ngFor="let sub of _data.subTestScripts">
                <simple-card [data]="sub"></simple-card>
            </p>
            <md-checkbox class="w3-show-inline-block" disabled [ngModel]="_data.isDisabled">Disabled</md-checkbox>
            <md-checkbox class="w3-show-inline-block" disabled [ngModel]="_data.isRequired">Required</md-checkbox>
        </md-card-content>
        <md-card-actions >
            <button md-button>Edit</button>
            <button md-button>View</button>
            <button md-button>Clone</button>
            <button md-button *ngFor="let cmd of _data.actions">{{cmd.name}}</button>
        </md-card-actions>
    </div>
</md-card>