<md-sidenav-layout [class.m2app-dark]="isDarkTheme">

  <md-sidenav #sidenav mode="side" align="start" class="app-sidenav">
    <md-toolbar color="primary">
      <button md-button (click)="sidenav.toggle()">
    Common Commands
    </button>
    </md-toolbar>

    <ul md-subheader *ngFor="let category of commands">

      <h4>{{category.name}}</h4>
      <!--<p md-line class="demo-secondary-text">{{category.type}}</p>-->

      <a *ngFor="let cmd of category.commands" md-menu-item aria-disabled="false" href={{cmd.routelink}}>
        
              {{cmd.name}}
              <!--<p>{{cmd.createdAt}}</p>-->
             
      </a>
      <md-divider></md-divider>
    </ul>

  </md-sidenav>

  <md-toolbar class="fixed-toolbar md-toolbar-tools" color="primary">
    <button md-button (click)="sidenav.toggle()" tabindex="0">
      <i class="material-icons app-toolbar-menu">menu</i>
    </button>
    <span class="app-toolbar-filler"></span>
    <span class="md-button-wrapper">Testing Automation</span>
    <span class="app-toolbar-filler"></span>
    <md-input class="app-input-section" placeholder="Commands" #commandBox tabindex="0" 
    [appDraggable]="{data: commandBox.value}">
      <span md-prefix>
          <i class="material-icons" (click)="openDialogValue(commandBox.value)" >subject</i>
          &nbsp;
        </span>
    </md-input>
  </md-toolbar>

  <div class="app-content">

    <md-card>
      <button md-button>FLAT</button>
      <button md-raised-button md-tooltip="This is a tooltip!">RAISED</button>
      <button md-raised-button color="primary">PRIMARY RAISED</button>
      <button md-raised-button color="accent">ACCENT RAISED</button>
    </md-card>

    <md-card>
      <md-checkbox>Unchecked</md-checkbox>
      <md-checkbox [(ngModel)]="check">Checked</md-checkbox>
      <md-checkbox [(ngModel)]="indeterminate">Indeterminate</md-checkbox>
      <md-checkbox disabled [(ngModel)]="disabled">Disabled</md-checkbox>
      <md-hint>
        {{Check}} &nbsp; {{indeterminate}} &nbsp; {{disabled}}
      </md-hint>
    </md-card>

    <md-card class="app-input-section">
      <md-radio-button name="symbol">Alpha</md-radio-button>
      <md-radio-button name="symbol">Beta</md-radio-button>
      <md-radio-button name="symbol" disabled>Gamma</md-radio-button>
    </md-card>

    <md-card class="app-input-section">
      <md-input placeholder="First name"   appDropTarget (myDrop)="onDrop($event)"></md-input>

      <md-input #nickname placeholder="Nickname" maxlength="50">
        <md-hint align="end">
          {{nickname.characterCount}} / 50
        </md-hint>
      </md-input>

      <md-input>
        <md-placeholder>
          <i class="material-icons app-input-icon">android</i> Favorite phone
        </md-placeholder>
      </md-input>

      <md-input placeholder="Motorcycle model">
        <span md-prefix>
          <i class="material-icons app-input-icon">motorcycle</i>
          &nbsp;
        </span>
      </md-input>
    </md-card>

    <md-card>
      <md-list class="app-list">
        <md-list-item *ngFor="let food of foods">
          <h3 md-line>{{food.name}}</h3>
          <p md-line class="demo-secondary-text">{{food.rating}}</p>
        </md-list-item>
      </md-list>
    </md-card>


    <md-card>
      <md-tab-group>
        <md-tab label="Earth">
          <p>EARTH</p>
        </md-tab>
        <md-tab label="Fire">
          <p>FIRE</p>
        </md-tab>
      </md-tab-group>
    </md-card>

    <md-card>
      <md-icon>build</md-icon>
    </md-card>

    <md-card>
      <button md-button [md-menu-trigger-for]="menu">
        MENU
      </button>
    </md-card>

    <md-menu #menu="mdMenu">
      <button md-menu-item>Lemon</button>
      <button md-menu-item>Lime</button>
      <button md-menu-item>Banana</button>
    </md-menu>

    <md-card>
      <p>Last dialog result: {{lastDialogResult}}</p>
      <button md-raised-button (click)="openDialog()">DIALOG</button>
      <button md-raised-button (click)="showSnackbar()">SNACKBAR</button>
    </md-card>

  </div>

</md-sidenav-layout>